/*--------------------------------------- 
Common Style css code start from here 
----------------------------------------*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1160px;
    margin: auto;
}
a{
    text-decoration: none;
}
/*--------------------------------------- 
Common Style css code end here 
----------------------------------------*/

/*--------------------------------------- 
Header section css code start from here 
----------------------------------------*/
header{
    background-color: #2d25a0;
    padding: 42px 0px 49px 0px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav a{
    color: white;
    margin-right: 30px;
}
nav a:hover{
    color: #E02C6D;
}
.login a, .btn a{
    padding: 10px 24px;
    background-color: #E02C6D;
    color: white !important;
}
.login span{
    margin-left: 8px;
}
/*--------------------------------------- 
Header section css code end here 
----------------------------------------*/

/*--------------------------------------- 
Banner section css code start from here 
----------------------------------------*/
#banner-section{
    background-color: #2d25a0;
    padding-bottom: 169px;
}
#banner{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
}
#banner h1{
    font-size: 64px;
    font-weight: 700;
    color: #ffffff;
    margin: 72px 0px 27px 0px;
}
.btn span{
    padding-right: 8px;
}
#banner .banner-img img{
    width: 100%;
    animation: slide-in 3s linear;    
}
@keyframes slide-in{
    from{
        margin-left: 100%;
    }
    to{
        margin-right: -100%;
    }
}

/*--------------------------------------- 
Banner section css code end from here 
----------------------------------------*/

/*--------------------------------------- 
Player-info section css code end from here 
----------------------------------------*/
#player-info{
    margin: 40px 0px 110px 0px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.players img{
    width: 100%;
}
.player{
    margin: 30px;
    padding: 15px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player h1{
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
}
.player p{
    text-align: justify;
    color: #6C6C6C;
    margin-top: 10px;
}
/*--------------------------------------- 
Player-info section css code end from here 
----------------------------------------*/

/*--------------------------------------- 
Highlight section css code start from here 
----------------------------------------*/
.highlight{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 69px;
}
.highlight .highlight-info h1{
    font-size: 48px;
    font-weight: 700;
    color: #18191F;
    width: 86%;
    margin-top: 60px;
}
.highlight .highlight-info p{
    text-align: justify;
    margin-bottom: 24px;
    color: #6C6C6C;
}
.highlight img{
    width: 100%;
}
/*--------------------------------------- 
Highlight section css code end here 
----------------------------------------*/

/*--------------------------------------- 
contact section css code end from here 
----------------------------------------*/
#contact-us{
    padding: 120px 0px;
}
.contact{ 
    display: flex;
    justify-content: space-between;
}
.contact-img{
    width: 50%;
    margin-top: 65px;
}
.contact-info{
    width: 45%;
    background-color: #2d25a0;
    padding: 10px;
}
.contact-info h2{
    color: white;
    font-size: 44px;
}
.contact img{
    width: 100%;
}
.contact-info input{
    padding: 10px;
    margin: 10px 0px;
    width: 95%;
    border: none;
    border-radius: 10px;
}
.contact-info textarea{
    width: 95%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
 button{
    width: 100%;
    padding: 10px;
    background-color: #E02C6D;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;    
}
/*--------------------------------------- 
contact section css code end from here 
----------------------------------------*/

/*--------------------------------------- 
Footer section css code start from here 
----------------------------------------*/
footer{
    text-align: center;
    padding: 158px 0px 0px 0px;
}
footer img{
    width: 30%;
}
#footer-area{
    background-color: #2d25a0;
    padding: 30px 0px;
}
footer .feature{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
footer .feature h2{
    color: #E02C6D;
}
footer .feature ul li{
    list-style: none;
}
footer .feature ul li a{
    color: white;
}
#footer-area .newsletter p{
    color: white;
}
#footer-area .newsletter input{
    padding: 10px;
}
#footer-area .newsletter .subscribe{
    background-color: #E02C6D;
    color: #ffffff;
    border-color: #E02C6D;
    cursor: pointer;
}
footer .social-media ul li{
    list-style: none;
    display: inline-block;
    margin: 30px 10px;
    height: 36px;
    width: 36px;
    background-color: #e7e7e8;
    vertical-align: middle;
    border-radius: 100%; 
}
footer a{
    color: #969bab;
    position: relative;
    top: 6px;
}
footer a:hover{
    color: #E02C6D;
}
footer p{
    font-size: 18px;
    margin-top: 20px;
}
#down-feture ul li{
    list-style: none;
    display: inline-block;
}
#down-feture ul li span a{
    border: none !important;
}
#down-feture ul li a{
    border-left: 2px solid white;
    padding: 0px 10px;
    color: white;
}
/*--------------------------------------- 
footer section css code end here 
----------------------------------------*/

/*--------------------------------------- 
Media Queries css code start from here 
----------------------------------------*/
/* Mobile Devices */
@media only screen and (max-width:688px) {
    header{
        width: 1160px;
    }
    #banner-section{
        width: 1160px;
    }
    #footer-area{
        width: 1160px;
    }
    #banner{
        grid-template-columns: repeat(1 ,1fr);
        grid-row-gap: 90px;
    }
    
    #banner .btn a{
        vertical-align: middle;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .highlight{
        grid-row-gap: 90px;
        grid-template-columns: repeat(1, 1fr);
    }
}